<!DOCTYPE html>
<html>
  <head>
    <title>Garages</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Garage List</h1>
    <p><%= garageList %></p>
  </body>
</html>