<!DOCTYPE html>
<html>
  <head>
    <title>Garage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>Welcome to the garage</p>
    <h2>Create a new Garage</h2>
    <!-- Form to create a new garage -->
    <form id="newGarage" method="put">
    	Garage Name: <input type="text" name="name" placeholder="name"><br>
    	<input type="submit" value="Create New Garage">
    </form>
    <br>
    <br>
		<h2>Create a new Car</h2>
    <!-- Form to create a new car -->
    <form id="newCar" method="put">
    	Car Make: <input type="text" name="make" placeholder="make"><br>
    	Car Model: <input type="text" name="model" placeholder="model"><br>
    	Garage Name: <input type="text" name="garage" placeholder="garage"><br>
    	<input type="submit" value="Create New Car">
    </form>

  </body>
</html>