<!DOCTYPE html>
<html>
  <head>
    <title>Garage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="/javascripts/forms.js"></script>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>Welcome to the garage</p>
    <h2>Create a new Garage</h2>
    <!-- Form to create a new garage -->
    <form id="newGarage" method="put">
    	Garage Name: <input type="text" id="name" name="name" placeholder="name"><br>
    	Garage Location: <input type="text" id="location" name="location" placeholder="location"><br>
    	<input type="submit" value="Create New Garage">
    </form>
    <br>
    <div id="newGarageResponse"></div>
    <br>
    <div id="garageList"><b>Garages</b><br><ul id="garageUL"></ul></div>
    <br>
		<h2>Create a new Car</h2>
    <!-- Form to create a new car -->
    <form id="newCar" method="put">
    	Car Make: <input type="text" name="make" id="make" placeholder="make"><br>
    	Car Model: <input type="text" name="model" id="model" placeholder="model"><br>
    	<input type="submit" value="Create New Car">
    </form>
    <br>
    <div id="newCarResponse"></div>
    <br>
    <div id="carList"><b>Cars</b><br><ul id="carUL"></ul></div>
  </body>
</html>